body{

    background-image: url(../imagens/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    
    
}
.divLogo{
        height: 80px;
        width: 80px;
        background-image: url(../imagens/LogoSemShelter.png);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 35px;
        margin-top: 25px;
        position:relative;
        cursor: pointer;
        
}
    
    
.divLogin {
    
        background-color: rgba(255, 255, 255, 0.4);
        text-align: center;
        width: 300px;
        height: 500px;
        box-shadow: 0 0 1em grey;
        border-radius: 15px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
       
       
}
    
.divBemVindo{
        padding-top: 50px;
        text-align: center;
        font-style: bold;
        color: #FF914D;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 28px;
        width: 100%;
        
}   
.LinhaBemVindo{
        border-radius: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 50px;
        width: 85%;
    
    
}   
input{
        border-left: 10px;
        margin-bottom: 12px;
        padding: 15px;
        width: 85%;
        border: 2px solid #FF914D;
        border-radius: 40px;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
} 
::placeholder{
        color: #FF914D;
    
}
        
button{
        border-left: 10px;
        margin-bottom: 12px;
        padding: 15px;
        width: 95%;
        background-color: #FF914D;
        border: 2px solid white;
        border-radius: 40px;
        color: white;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  
button:hover{
    
        background-color: white;
        color: #FF914D;
        border: 2px solid #FF914D;
        cursor: pointer;
}
       
    
    