
body{
    background-image: url(../imagens/background.jpg);    
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}

.Logo{
    height: 150px;
    width: 200px;
    position: absolute;  
    padding-left: 5px;
    padding-top: 5px;
}

.divPai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 350px;
}
.divAboutUs{
    
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px  0px 0px 10px;   
    align-items: center;
}

.divBotoes{
    
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;   
    align-items: center;
   
    
   
}
.botao{
    width: 90%;
    height: 10%;
    margin-top: 20px;
    background-color: #FF914D; 
    border-radius: 10px;
    font-family: Cambria;
    font-size: 20;
    color: white;
    cursor: pointer;

}
button:hover{
    background-color: white; ;
    color: #FF914D;
}