*{margin: 0; padding: 0;}
body{
  background-image: url(../imagens/background.jpg);
  background-size: 100%;
  background-repeat: repeat;
  position: absolute;
}
.Menu{

  height: 100%;
  width: 80px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #f7f7f7;;
  text-align: center;
  display: inline-block;
  box-shadow: 5px 0 18px red;
  position: fixed;
  z-index: 5;  

}
.PataIcone{
  height: 70%;
  width: 70%;
  margin-top: 5px;
}

.liCadastrar{
 
}

.liVerAnimaisCadastrados{

}
.liMenu{
  background-color: #FF914D;
  height: 8%;
  width: 100%;
  position: absolute;
  z-index: 4;
 
}
.OlSubMenu{
  display: none;
  background-color:aquamarine;
  height: 100%;
  width: 180px;
  padding: 0;
  border: 0;
  position: fixed;
  left: 5em;  
}
